#content{
    background-color: white;
}
img{
    width: 150px;
    display: inline-block;
}
#ifscLogo{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#deustoLogo{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
figcaption{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
footer{
    margin-top: 80px;
}
.JohnHopkings{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
p{
    margin-left: 15px;
}